{% extends "base.html" %}
{% block logo %}
      <div class="logo">
        <img src="/images/cards/14.png"/>
        <span>Play 29!<br/> The great Indian card game</span>
      </div>
{% endblock %}
{% block content %}
      <div class="help">
        <a id="whatIsGame">(How to play 29?)</a>
      </div>
      <div id="whatIsGameDialog" class="dialogContent">
        <div class="dialogTitle">What is Blitz Chess?</div>
        <div class="dialogBody">
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          <br/>
          <br/>
         Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine <br/>
          <br/>
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
          Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine Twenty nine 
        </div>
        <div  class="buttonBar">
          <a class="btn" id="closeModal">OK</a>
        </div>
      </div>
      <div class="menu">
        <a id="playSingle">Play with Computers</a>
        <div class="subtext">
          play with and against AI
        </div>
      </div>
      <div class="menu top">
        <a id="enterLobby">Multiplayer Lobby</a>
        <div class="subtext">
          enter the multiplayer lobby
        </div>
      </div>
    <br/>
    </div>
    
{% endblock %}

